body {
  margin: 30px auto;
  max-width: 60%;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 30px 20px;
  text-align: center;
  background: linear-gradient(aqua,white);
  color: #330033;
}

h1 {
  padding: 20px 0px 10px 0px;
}

/* This changes color and removes default underline in links  */

a {
color:#ff0066;
text-decoration: none;
}


/* Centers images */

img {
  display: block;
  margin: 0px auto;
  width: 100%;
}

/* When you put a period in front of a CSS declaration, it indicates you are
creating a new class. We can apply this to div elements to create different
portfolio entries */

.portfolio-item {
  margin-top: 60px;
  padding: 30px;
  background: linear-gradient(white,purple);
  color:#00004d;
}
.portfolio-item a {
color: #69CBBB;
font-size: 90; 
text-decoration: none
}
