.navigationBar {
    background-image: linear-gradient(to top right,#4dffff, magenta);
}

.navigationBar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background: transparent;
  overflow: hidden;
}

.navigationBar a{
	float: left;
	line-height: 50px;
  padding: 0 20px;
  text-decoration: none;
	color: #ddd;

}


   
.github:hover{
	background-color: magenta;
	color: black;
}
.portfolio:hover{
	background-color:#4dffff ;
	color: black;
}
.home:hover{
	background-color: white;
	color: black;
}

  
